/* TALENTOS PAGE*/

/* .back-talents {
  background: url("/assets/img/backgraund-talents.jpeg") fixed;
  background-size: 100vh;
  display: grid;
  grid-template-columns: 1fr; } */
  
  .back-talents {
    font-family: Helvetica, sans-serif;
    background: url("/assets/img/backgraund-talents.png") fixed no-repeat;
   background-size: cover;
   
  }
  
/* .back-talents {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../assets/img/backgraund-talents.jpeg);
  background-size: 100%;
  height: 100%;
  width: 100%; } */

/* .back-talents h1 {
  text-align: center;
  padding: 300px;
  font-size: 72px;
  color: bisque;
  background: rgba(0, 0, 0, 0.6);
  height: cover; } */
