@charset "UTF-8";
/* header */
body {
  margin: 0;
  font-family: Helvetica, sans-serif; }

.header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 3; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0.1); }

.header li a {
  color: white;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none; }

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.header .logo {
  display: block;
  float: left;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none; }

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none; }

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.header .menu-icon .nav-icon:before {
  top: 5px; }

.header .menu-icon .nav-icon:after {
  top: -5px; }

/* menu btn */
.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 500px; }

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0; }

/* <!-- finalizacion nav -->  */
